@import '../../_base.scss';

.videoMetaData{
    &__top{
        span{
            cursor: pointer;
        }
    }

    &__channel{
        border-top: 0.2px solid $border-color;
        border-bottom: 0.2px solid $border-color;

        img{
            height:50px;
            width: 50px;
        }

        button{
            background-color: red;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            border-radius: 0;
            color: white;

            &.btn-gray{
                background-color: gray;
            }

            &:hover{
                color: white;
            }
            &:focus{
                border: none;
                outline: none;
            }
        }
    }   

    &__description{
        font-size:0.9rem ;
        white-space: pre-line;
        border-bottom:0.2px solid $border-color;
        .showMoreText{
            text-decoration: none;
            display: block;
            margin: 1rem 0;
            color:#fff;
            font-weight: 500;
        }
    }

}